---
// This code is ran on the backend
import Layout from "../../components/Layout.astro"

import { products } from "../../backend/storage/dummy";

export const prerender = false;

const { id } = Astro.params;
const product = products[id];
---
<!-- This code is ran on the frontend -->

<Layout title={product.name}> <!-- Pass the product name as the title -->
    <script define:vars={{ id }}> // Pass the id variable to the frontend
        window.id = `${id}`;
    </script>

    <main>
        <section class="py-5 bg-body">
            <div class="container">
                <div><a href="/products">Products</a> &gt; <a href={`/products/${id}`}>{product.name}</a></div>
                <div class="row py-3" style="height: 100%;">
                    <div class="col-3">
                        <img src={product.image} class="card-img-top" alt={product.name}>
                    </div>
                    <div class="col-9" style="height: 100%;">
                        <h1 class="card-title">{product.name}</h1>
                        <p>{product.description}</p>
                        <p style="font-weight: bold;">Price: ${product.price}</p>

                        <div class="row g-2">
                            <form class="row g-3" onsubmit="submitItem(window.id); return false;">
                                <div style="width: 200px;">
                                    <div class="form-floating">
                                        <label for="quantity" class="visually-hidden">Quantity</label>
                                        <input type="number" class="form-control-text" id="quantity" value="1" min="1">
                                    </div>
                                </div>
                                <div style="width: 130px;">
                                    <div class="form-floating">
                                        <div class="col-auto was-validated">
                                            <button type="submit" class="btn btn-primary mb-3">Add to cart</button>
                                            <div class="valid-feedback" id="submitFeedback"></div>
                                        </div>                                 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row my-5">
            <div class="col-8">
                <div class="py-5 bg-body">
                    <div class="container">
                        <h3>Product Description</h3>
                        <p>{product.description}</p>
                        <p>{product.longDescription}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="py-5 bg-body">
                    <div class="container">
                        <h3>Important information</h3>
                        <p>Alcohol pricing & promotions for customers served from outside Samland may differ from those shown when browsing our site. Please log in to see the full range of alcohol prices & promotions available to you.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>